<div class="col-md-4 col-sm-4">
                            <div class="team-member animated fadeInUp" data-animate="fadeInUp" style="opacity: 0;">
                                <div class="image">
                                    <a href="team-member.html">
                                            <img src="/img/organizers/{{.image}}.jpg" alt="" class="img-responsive ">
                                    </a>
                                </div>
                                <h3>{{.name}}</h3>
                                <p class="role">{{.affiliation}}</p>
                                <div class="text">
                                        <p>{{substr .bio 0 315}}
                                        {{if gt (len .bio) 315}}
                                        <span id="moreText{{.name|urlize}}" class="collapse">{{substr .bio 315}}</span><a id="readMore{{.name|urlize}}" data-toggle="collapse" href="#moreText{{.name|urlize}}">Read More</a> 
                                        {{end}}
                                        </p>

                                </div>
                            </div>
                            <!-- /.team-member -->
                        </div>
